openapi: 3.0.1
info:
  title: Publish Weather Data
  version: 1.0.0
servers:
 -
  url: /
security:
 -
  default: []
paths:
  /publishweatherdata:
    post:
      summary: Publish weather data
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                coord:
                  type: object
                  properties:
                    lon:
                      type: number
                    lat:
                      type: number
                sys:
                  type: object
                  properties:
                    type:
                      type: integer
                    id:
                      type: integer
                    message:
                      type: number
                    country:
                      type: string
                    sunrise:
                      type: integer
                    sunset:
                      type: integer
                weather:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      main:
                        type: string
                      description:
                        type: string
                      icon:
                        type: string
                base:
                  type: string
                main:
                  type: object
                  properties:
                    temp:
                      type: number
                    humidity:
                      type: integer
                    pressure:
                      type: number
                    temp_min:
                      type: number
                    temp_max:
                      type: number
                wind:
                  type: object
                  properties:
                    speed:
                      type: number
                    deg:
                      type: number
                clouds:
                  type: object
                  properties:
                    all:
                      type: integer
                dt:
                  type: integer
                id:
                  type: integer
                name:
                  type: string
                cod:
                  type: integer
            example:
              coord:
                lon: -122.09
                lat: 37.39
              sys:
                type: 3
                id: 168940
                message: 0.0297
                country: US
                sunrise: 1427723751
                sunset: 1427768967
              weather:
               -
                id: 800
                main: Clear
                description: Sky is Clear
                icon: 01n
              base: stations
              main:
                temp: 285.68
                humidity: 74
                pressure: 1016.8
                temp_min: 284.82
                temp_max: 286.48
              wind:
                speed: 0.96
                deg: 285.001
              clouds:
                all: 0
              dt: 1427700245
              id: 0
              name: Mountain View
              cod: 200
        required: true
      responses:
        "200":
          description: Weather data successfully published
      security:
       -
        default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://test.com
          scopes: {}
x-wso2-api-key-header: ApiKey
x-wso2-auth-header: Authorization
x-wso2-cors:
  corsConfigurationEnabled: false
  accessControlAllowOrigins:
   - '*'
  accessControlAllowCredentials: false
  accessControlAllowHeaders:
   - authorization
   - Access-Control-Allow-Origin
   - Content-Type
   - SOAPAction
   - apikey
   - Internal-Key
  accessControlAllowMethods:
   - GET
   - PUT
   - POST
   - DELETE
   - PATCH
   - OPTIONS
x-wso2-production-endpoints:
  urls:
   - http://localhost:8290
  type: http
x-wso2-sandbox-endpoints:
  urls:
   - http://localhost:8290
  type: http
x-wso2-basePath: /weather/1.0.0
x-wso2-transports:
 - http
 - https
x-wso2-application-security:
  security-types:
   - oauth2
  optional: false
x-wso2-response-cache:
  enabled: false
  cacheTimeoutInSeconds: 300
